@import "../base";

//-----------Header-----------//
.header {
  grid-column: 1/13;
  @include center-v;
  height: 8vh;
  font-size: 4.5em;
  background-color: #243550;
  color: white;
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.2),
    0 6px 20px 0 rgba(50, 49, 49, 0.19);
}
