@import "../../scss/base";

//-----------Header-----------//
.header {
  grid-column: 1/13;
  @include container;
  height: 5vh;
  background-color: #243550;
  color: white;
  //padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.2),
    0 6px 20px 0 rgba(50, 49, 49, 0.19);
}

.logo{
  grid-column: 1/3; 
  @include center-all;
  p{
    font-size: 2em;
  }
}

.menuWrap{
  grid-column: 12/13;
  @include center-all;
}