//-----------Variables-----------//
$primary-color: #243550;
$secondary-color: #010d26;
$background-color: #fafafa;
$error-color: red;

//-----------Mixins-----------//
@mixin center-all() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center-v() {
  display: flex;
  align-items: center;
}
@mixin center-h() {
  display: flex;
  justify-content: center;
}

@mixin container() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


//-----------General-----------//
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  //-left: 5em;
  //padding-right: 5em;
  // height: 100%;
}
.row {
  @include center-v;
  flex-direction: row;
}

.column {
  @include center-h;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 90vh;
  background-color: $background-color;
}
