@import "base.scss";

#main-toolbar {
  background-color: #ecf0f1;
  grid-column: 1/3;
  @include center-all;
  flex-direction: column;
  //height: 100%;
}

.toolbtn {
  width: 80%;
  height: 5vh;
  margin: 5px;
  background-color: #243550;
  color: #ecf0f1;
}

.toolbtn:hover {
  background-color: #e74c3c;
}

.my-color-pickers {
  width: 100%;
  margin-top: 2em;
  @include center-h;
  position: relative;
}
