@use "./base.scss";
@use 'sass:color';

$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.signinPage{
  @include base.center-all;
}

.signinWrap{
    width: 50%;
    height: 90vh;
    @include base.center-all;
    flex-direction: column;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 60%;
  padding-bottom: 20px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: base.$primary-color;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, base.$primary-color, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

#trackarea{
    display: flex;
    flex-direction: column;
}


.button{
    padding-top: 2em;
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: base.$primary-color;
	padding: 15px 45px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;

}	

.button{

  &::after{
        transition: background-color .2s ease;
      position: absolute;
      content: '';
      height: 4px;
      bottom: 0;
      width: 100%;
      background-color: color.adjust(base.$primary-color, $lightness: -50%, $space: hsl);
      opacity: .18;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      left: 0;
  }
    
	&:focus, &:hover{
        text-decoration: none;
		color: #fff;
    }
		
	&:hover{
        background-color: color.adjust(base.$primary-color, $lightness: 5%, $space: hsl);
    }
    &::after{opacity: .22}
	&:active{
        background-color: color.adjust(base.$primary-color,  $lightness: -5%, $space: hsl)
    }
    &::after{
        opacity: .32
    }
			
}