//-----------Variables-----------//
$primary-color: #7630d9;
$secondary-color: #010d26;
$background-color: hsl(0, 0%, 98%);
$error-color: red;

//-----------Mixins-----------//
@mixin center-all() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center-v() {
  display: flex;
  align-items: center;
}
@mixin center-h() {
  display: flex;
  justify-content: center;
}

//-----------General-----------//
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  //background-color: greenyellow;
  margin-right: auto;
  margin-left: auto;
  //-left: 5em;
  //padding-right: 5em;
  // height: 100%;
}

.App {
  background-color: blue;
  height: 100vh;
}

.header {
  background-color: green;
  grid-row: 1;
  height: 10vh;
}

.content {
  height: 80vh;
  background-color: purple;
}

.footer {
  background-color: red;
  grid-row: 3;
  height: 10vh;
}
