@import "base.scss";

#graph {
  //width: 480px;
  height: 100%;
  position: relative;
  border: 1px solid blue;
  background-color: white;
  //@include center-all;
  grid-column: 4/12;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
}

#background-layer {
  z-index: 1;
}

#foreground-layer {
  z-index: 2;
}

#draw-layer {
  z-index: 3;
}
