@use "../../scss/base.scss";

.graphWrapper {
  grid-column: 4/11;
  @include base.center-all;
}

#graph {
  height: 80%;
  width: 100%;
  position: relative;
  border: 1px solid blue;
  background-color: white;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
}

#backgroundLayer {
  z-index: 1;

  canvas {
    position: absolute;
    top: 0;
    right: 0;
  }
}

#foregroundLayer {
  z-index: 2;
}

#drawLayer {
  z-index: 3;

  canvas {
    position: absolute;
    top: 0;
    right: 0;
  }
}
